*{
	margin: 0;
	padding: 0;
}

body{
	font-family: 'Microsoft Yahei', 'Microsoft JhengHei', 'Monaco', 'Helvetica';
}

#container{
	width: 400px;
	height: 300px;
	border: 1px solid #567;
	background-color: #EEE;
	position: relative;
}

pre{
	font-family: 'Monaco','Consolas';
	font-size: 12px;
}